.card{
    display: inline-block;
    height: 40px;
}

p{
    font-size:0.8em;
}

.weather{
    float: right;
    
}

.sort{
    display: flex;
}

.searchDaum{
    width: 700px;
    position: absolute;
    right: 80%;
}
