.main{
    margin-top: -20px;
    width: 1900px;
    height: 900px;
    display: inline-block;
}
.top{
    width: 1900px;
    height: 450px;
}

.bottom{
    width: 1900px;
    height: 450px;
}

button{
    width: 75px;
    height: 32px;
    text-align: center;
}

#button1{
    width: 75px;
    height: 35px;
    text-align: center;
}

.row{
    height: 26.5px;
    margin: auto;
  
}


